<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DocumentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DocumentExtensionFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FeaturesIOS8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KeyboardExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PhotoEditinExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>WidgetExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>842934C51976A2BA008E40A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842FE4AB1974391700B9CD83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842FE4C11974391700B9CD83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849FB1901975210F008933E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849FB1A61975212D008933E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849FB1B919752156008933E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DC51CB1976798900515A5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DC51D91976798900515A5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
